.logo {
  font-family: var(--logo-font);

  font-weight: 700;
  font-size: 24px;
  line-height: 1.19;

  color: var(--accent-cl);

  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.logo__dark-half {
  color: var(--logo-darkhalf-cl);
}

.logo__light-half {
  color: var(--logo-lighthalf-cl);
}
