.socials {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition: background var(--main-animation);
  background-color: var(--dark-socials-bg);

  &:hover,
  &:focus {
    background-color: var(--accent-cl);
  }

  &--theme-light {
    background-color: transparent;
  }
}

.socials__icon {
  transition: fill var(--main-animation);
  fill: var(--light-icon-cl);

  &--theme-light {
    fill: var(--main-icon-cl);
  }

  .socials__link--theme-light:hover &,
  .socials__link--theme-light:focus & {
    fill: var(--light-icon-cl);
  }
}
