.benefits {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.benefits__item {
  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;
  }

  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.benefits__icon-wrap {
  height: 120px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;
  border-radius: 4px;

  background-color: var(--secondary-bg-cl);
}

.benefits__title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.benefits__text {
  line-height: 1.71;

  color: var(--secondary-txt-cl);
}
