.header {
  max-width: 1600px;
  margin: 0 auto;
  border-bottom: 1px solid var(--header-brdr);

  background-color: var(--light-bg-cl);
}

.header__container {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  @media screen and (max-width: 767px) {
    padding: 16px 0px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
